Redirect 301 /OpenStack/2013/01/04/your_first_openstack_instance http://www.uberobert.com/your_first_openstack_instance
Redirect 301 /General/2012/12/28/jenkins_jekyll http://www.uberobert.com/jenkins_jekyll
Redirect 301 /Politics/2012/12/22/sectarian_syria http://www.uberobert.com/sectarian_syria
Redirect 301 /General/2012/12/18/language_complexity http://www.uberobert.com/language_complexity
Redirect 301 /Ruby/2012/12/11/upgraded_fact_imports http://www.uberobert.com/upgraded_fact_imports
Redirect 301 /General/2012/12/07/freenode-and-andchat http://www.uberobert.com/freenode-and-andchat
Redirect 301 /General/2012/12/06/first_post http://www.uberobert.com/first_post
