{%- assign p = include.post | default: page -%}
<div class="post">
    <div class="section section-post-meta post">    
        <h2>            
            <a href="{{ p.url | relative_url }}">
                {%- if p.icon -%}
                <i class="indicator-icon {{ p.icon }}"></i>
                {%- else -%}
                <i class="indicator-icon icon-bullhorn"></i>
                {%- endif -%}
                {{ p.title }}
            </a>
        </h2>
        <p class="meta">
            <time datetime="{{ p.date | date_to_xmlschema }}">{{ p.date | date: "%B %e, %Y" }}</time>
            {%- if p.author -%}
                &nbsp;by&nbsp;
                {%- if p.author.url -%}
                <a href="{{ p.author.url }}">{{ p.author.name }}</a>
                {%- else -%}
                {{ p.author.name }}
                {%- endif -%}
            {%- endif -%}
        </p>
    </div>

    {%- if p.illustration -%}
        <div class="section">
        <div class="illustration illustration-{{ p.illustration.id }}">
            {%- if p.illustration.id -%}
            <a href="/illustrations/{{ p.illustration.id }}"
                style="background-image: url('{{ p.illustration.url }}');">
                <i class="icon-zoom-in"></i>
            </a>
            {%- else -%}
            <span style="background-image: url('{{ p.illustration.url }}');{%- if p.illustration.height -%} height: {{ p.illustration.height }}{%- endif -%}"></span>
            {%- endif -%}
        </div>
        </div>
    {%- endif -%}

    {%- if include.post -%}
        <div class="section excerpt">
        {{ post.excerpt }}
        </div>
    {%- else -%}
        <div class="section post-body">
        {{ content }}
        </div>

        <div class="section comments">
        <i class="comment-icon icon-comment-alt"></i>
        <div id="disqus_thread"></div>
        <script>
            var disqus_shortname = 'uberobert';
            (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            s.async = true;
            (d.head || d.body).appendChild(s);
            })();
        </script>
        </div>
    {%- endif -%}
</div>