<div class="hero-unit">
    <div class="row">            
        <div class="span12">
            <div class="row">
                <div class="span6 intro">
                    <div class="leader">
                        <a href="//uberobert.com" id="logo"></a>
                        <h1><a href="/">Uber<br />Robert</a></h1>    
                        <p>Technology blog about stuff I love!</p>
                    </div>
                </div>
                <div class="span5 stay-updated">
                    <div id="twitter-status" class="well">
                        <i class=icon-twitter></i>
                        <div id="tweet"></div>
                        <a href="//twitter.com/Robert_Birnie">Follow @Robert_Birnie &raquo;</a>
                    </div>                    
                </div>                        
            </div>{% include header/newer-older.html %}
        </div>
    </div>
</div>
