
<div class="well">
    <h2><i class="icon-github-sign"></i> Stay up to Date</h2>
    <ul class="repository-list">
        <li><i class="icon-rss"></i> <a href="http://feeds.feedburner.com/uberobert">RSS</a></li>
        <li><i class="icon-envelope"></i> <a href="http://feedburner.google.com/fb/a/mailverify?uri=Uberobert&amp;loc=en_US">Email</a></li>
        <li><i class="icon-twitter"></i> <a href="http://twitter.com/Robert_Birnie">Twitter</a></li>
        <li><i class="icon-github"></i> <a href="https://github.com/rbirnie">github</a></li>
        <li class="icon"><a href="/subscribe">More</a></li>
    </ul>
</div>
